$yellow: #ffc600

body
  background-image: url("background.jpeg")
  background-size: cover
  overflow: hidden

.keys
  display: flex
  flex: 1
  flex-direction: row
  align-items: center
  justify-content: center
  margin: 0 auto
  min-height: 100vh

.key
  text-align: center
  margin: .9rem
  border-radius: 0.3rem
  padding: 1rem 0.5rem
  border: 0.2rem solid black
  background-color: rgba(0, 0, 0, 0.4)
  color: white
  display: inline-block
  width: 6rem
  transition: all 0.07s ease
  box-shadow: 0 0 1rem lighten(black, 30%)

kbd
  display: block
  font-size: 2rem
  font-family: 'Bree Serif', serif

span
  font-size: .8rem
  color: $yellow
  font-family: sans-serif
  letter-spacing: .1rem

.description
  color: $yellow
  margin-top: 5px

.playing
  transform: scale(1.1)
  border-color: $yellow
  box-shadow: 0 0 1rem lighten($yellow, 30%)
